.heading { font-family:  Tahoma,Verdana,Segoe,sans-serif; background-color: #0984E7 ;  color: white ; text-align: center;}
.gen{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; background-color: #EAECEE;}
.img1{width: 260px; height: 260px;}
.img2{width: 260px; height: 260px;} 

